
h1 {
    font-weight: 1000;
    letter-spacing: 3px;
    font-size: 36px;
    text-align: center;
    color: #140f00;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

/* background*/

body {
    background: url('../images/password_reset.jpg') no-repeat center / cover;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
}


/*form container*/
.form{
    background: rgba(255, 255, 255, 0.462);
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    margin-left: 80px;
    padding-top: 50px;
    transform: translateX(80px);
}
.form label{
    display: block;
    margin-top:12px;
    font-weight: bold;
    font-size: 16px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
}
.form input:focus {
    border-color: #4facfe;
    outline: none;
    box-shadow: 0 0 6px rgba(79,172,254,0.5);
}

/* Error message */
.form span {
    color: red;
    font-size: 12px;
}

.upload {
    display: block;
    margin-top: 10px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.upload:hover {
    border-color: #4facfe;
}

section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    background: #f8b034;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button[type="reset"] {
    background: #ccc;
    color: #333;
}

button:hover {
    background: linear-gradient(90deg, #4ffede, #00f2fe);
    transform: scale(1.05);
    transition: 0.3s;
}
.upload img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}